/*
    公共样式
*/
@charset "utf-8";
html {margin: 0;padding: 0; height: 100%; font-weight: 400; -webkit-font-smoothing: antialiased;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block }
html, body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, label, textarea, p, blockquote, th, td { margin: 0; padding: 0; -webkit-text-size-adjust: none;-moz-text-size-adjust:none; -ms-text-size-adjust: none;-o-text-size-adjust: none;text-size-adjust: none; line-height:1;}
body, textarea { font-family: 'Microsoft YaHei'; font-size: 100%; line-height:1; font-weight: 400; ; color: #666; background:#f8f8f8;}
a { text-decoration: none; color: #333333; }
em, i { font-style: normal }
img, button { background: transparent; border: 0 none; vertical-align: middle }
ol, ul { list-style: none }
table, th, td, fieldset, legend { font-weight: 400; border: 0 none; border-collapse: collapse }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color:#bbb;
}
a,input,button{-webkit-tap-highlight-color:rgba(255,0,0,0); outline:0;  -webkit-appearance: none;}
select { outline: 0; -webkit-appearance: none; }
textarea{ cursor: auto; outline: none;-webkit-appearance: none;}
body{font-size:14px; background: #fff;}
